@model RestRoomApp.Models.Habitacion

<div>
    <h2>Detalle Habitación</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Planta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Planta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Camas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Camas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstaDisponible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstaDisponible)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fotos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fotos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Servicios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Servicios)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoHabitacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoHabitacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>

    </dl>
</div>
<p>
    <div>
        @Html.ActionLink("Editar", "Edit", new { id = Model.HabitacionId }, new { @class = "btn btn-info" })
        @Html.ActionLink("< Regresar Listado", "Index", "Habitaciones", new { area = "" }, new { @class = "btn btn-danger" })
    </div>
</p>
