@model IEnumerable<RestRoomApp.Models.Habitacion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Planta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Camas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstaDisponible)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fotos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Servicios)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoHabitacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Planta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Camas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstaDisponible)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fotos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Servicios)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoHabitacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaCreacion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HabitacionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.HabitacionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HabitacionId })
        </td>
    </tr>
}

</table>
